#images { 

    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
.image {
margin-right: 5%;
margin-top: 5%;
}
.lastImage {
    margin-right: 0;
}
#search {
    height: 30px;
    width:20%;
}